
{% extends "@Chambre/Layout/layout.html.twig" %}

{% block stylesheet %}

{% endblock %}

{% block title %} {{ parent() }} - list des chambres {% endblock %}
{% block body %}

<div class="container ">
    <h1> A propos de nous </h1>
    <p>L'Iberostar Averroes est un complexe de bord de mer situé à Yasmine Hammamet, sur la côte tunisienne, à 600 mètres du parc d'attractions Carthageland. Il propose une piscine intérieure et extérieure chauffée ainsi qu'un spa avec hammam, sauna et massages.

Vous pourrez déguster une cuisine gastronomique locale et internationale aux restaurants de l'hôtel.
    </p>
    <p>
Toutes les chambres et suites disposent d'une terrasse ou d'un balcon et de la climatisation réversible. Un minibar peut être fourni sur demande et moyennant des frais supplémentaires. La connexion Wi-Fi est disponible dans les chambres, au bar principal et à la réception.
    </p>
Les amateurs de golf trouveront 2 excellents parcours de golf à seulement 10 km de l’Iberostar Averroes.
<p>
L'aéroport d'Enfidha-Hammamet est situé à 45 km.
</p>
Les couples apprécient particulièrement l'emplacement de cet établissement. Ils lui donnent la note de 8,8 pour un séjour à deux.

Nous parlons votre langue !

L'établissement Iberostar Averroes accueille des clients Booking.com depuis le 3 mars 2010.
Chaîne hôtelière/marque: Iberostar Hotels & Resorts
    <div class="hp_desc_important_facilities clearfix hp_desc_important_facilities--bui col-4">
        <h3 class="hp-description-sub-header">
            Ses points forts
        </h3>
        <div class="important_facility  " data-name-en="Swimming pool">
            <svg class="bk-icon -iconset-pool hp__important_facility_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M8.7 79.2a3.8 3.8 0 0 1 5.5-1.3c21 15 34.5 9 50 2.2 14.5-6.5 30.8-13.7 53.6-1.4a4.5 4.5 0 0 1 1.8 5.9 3.9 3.9 0 0 1-5.4 2c-19.5-10.7-32.8-4.8-47 1.5-8.7 3.9-17.6 7.9-28 7.9A50 50 0 0 1 9.9 85.2a4.6 4.6 0 0 1-1.2-6zm109 15.5c-22.7-12.4-39-5-53.5 1.4-15.5 6.9-29 12.9-50-2.2a3.8 3.8 0 0 0-5.6 1.3 4.6 4.6 0 0 0 1.2 6A50 50 0 0 0 39.3 112c10.3 0 19.2-4 28-7.9 14-6.3 27.4-12.2 46.9-1.6a3.9 3.9 0 0 0 5.4-2 4.5 4.5 0 0 0-1.8-5.8zM100 56a12 12 0 1 0-12-12 12 12 0 0 0 12 12zM64.2 72c7.2-3.3 15.2-7 23.8-8.2 0 0-4-8.8-6.8-13.9l-18-29.2c-2.5-4.3-7.5-6-13.5-3.6L27.9 26a6.2 6.2 0 0 0-3.5 7.8 6 6 0 0 0 8 3.4L50 29.7a4 4 0 0 1 5 1.7l6 13.2L24 72c17.6 9.8 26.3 6.3 40.3 0z"></path></svg>
            1 piscine
        </div>
        <div class="
important_facility  " data-name-en="Free WiFi Internet Access Included">
            <svg class="bk-icon -iconset-wifi hp__important_facility_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><circle cx="64" cy="100" r="12"></circle><path d="M118.3 32.7A94.9 94.9 0 0 0 64 16 94.9 94.9 0 0 0 9.7 32.7a4 4 0 1 0 4.6 6.6A87 87 0 0 1 64 24a87 87 0 0 1 49.7 15.3 4 4 0 1 0 4.6-6.6zM87.7 68.4a54.9 54.9 0 0 0-47.4 0 4 4 0 0 0 3.4 7.2 47 47 0 0 1 40.6 0 4 4 0 0 0 3.4-7.2z"></path><path d="M104 50.5a81.2 81.2 0 0 0-80 0 4 4 0 0 0 4 7 73.2 73.2 0 0 1 72 0 4 4 0 0 0 4-7z"></path></svg>
            Connexion Wi-Fi gratuite
        </div>
        <div class="
important_facility  " data-name-en="Free Parking">
            <svg class="bk-icon -iconset-parking_sign hp__important_facility_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M70.8 44H58v16h12.8a8 8 0 0 0 0-16z"></path><path d="M108 8H20A12 12 0 0 0 8 20v88a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12V20a12 12 0 0 0-12-12zM70 76H58v24H42V28h28a24 24 0 0 1 0 48z"></path></svg>
            Parking gratuit
        </div>
        <div class="
important_facility  " data-name-en="Spa &amp; Wellness Centre">
            <svg class="bk-icon -iconset-spa hp__important_facility_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M64.7 12.3a.8.8 0 0 0-1 0C57 18 38.4 37.8 59.2 59c.3.3 1.5 1.2 1.7-.3a.6.6 0 0 1 0-.1l3.2-21 3.2 20.8v.3c.3 1.3 1.2.7 1.6.4 21-21.1 2.5-40.8-4.2-46.8zM120 51.8v-.1a.8.8 0 0 0-.3-1C111.9 46.4 87 35.3 74.2 62c-.1.4-.6 1.8.9 1.5l20.8-4-18.4 10-.3.1c-1.2.7-.2 1.4.2 1.6C104.1 84 116.5 60 119.9 51.7zm-111.8.1a.8.8 0 0 1 .3-1c7.7-4.4 32.5-15.4 45.4 11.4.1.3.6 1.7-.9 1.5l-20.9-4 18.5 10h.2c1.2.7.3 1.4-.1 1.7C23.9 84.3 11.5 60.3 8 51.9zm94.5 64a.8.8 0 0 0 .8-.7c.8-8.8.7-36-28.9-36.9-.4 0-1.8.2-1 1.4l12.1 17.5-16.5-12.8-.2-.2c-1.2-.8-1.4.3-1.5.8-.7 29.7 26.2 31.3 35.2 31zm-77.1 0h-.1a.8.8 0 0 1-.8-.7c-.7-8.8-.7-36 29-36.9.3 0 1.8.2 1 1.4L42.3 97.3 59 84.4l.2-.2c1.1-.8 1.4.3 1.4.8.7 29.7-26.2 31.3-35.1 31z"></path></svg>
            Spa et centre de bien-être
        </div>
        <div class="
important_facility  " data-name-en="Beach front">
            <svg class="bk-icon -iconset-beach hp__important_facility_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M117.3 112.2h-.2a203 203 0 0 0-69.1-8V72h32v-4a36 36 0 0 0-32-35.8V28a4 4 0 0 0-8 0v4.2A36 36 0 0 0 8 68v4h32v33a125.5 125.5 0 0 0-29.4 7.3 4 4 0 1 0 2.8 7.4c44-16.9 95.6-1.7 101.3.1a4.5 4.5 0 0 0 1.4.2 4 4 0 0 0 3.7-2.7 4 4 0 0 0-2.5-5zM36.2 64A56.6 56.6 0 0 1 44 41.2 56.6 56.6 0 0 1 51.8 64zm35.5 0H59.8a61.6 61.6 0 0 0-6.4-22.4A28 28 0 0 1 71.7 64zm-37-22.4A61.6 61.6 0 0 0 28.1 64h-12a28 28 0 0 1 18.4-22.4zM116 112a4 4 0 0 0-.8 0 3.7 3.7 0 0 1 1.9.1 4 4 0 0 0-1.1-.1zM96 16.5A15.4 15.4 0 0 1 98.5 8H120v21.4a15.5 15.5 0 0 1-24-13zM76 17c0-2.5 7.4-3.5 9.4-7.1A5.6 5.6 0 0 0 85 8h7a21.9 21.9 0 0 0 28 29.3v6.4a4.8 4.8 0 0 0-.9 0c-3.6 2-4.7 9.3-7.1 9.3s-3.5-7.4-7.1-9.4c-4.2 0-8.8 5.9-10.9 4.6s.7-8.1-1.5-11.7C89 34.3 82 37.1 80.8 35s4.6-6.7 4.6-10.9c-2-3.6-9.5-4.7-9.4-7.1z"></path></svg>
            Front de mer
        </div>
        <div class="
important_facility  " data-name-en="Family Rooms">
            <svg class="bk-icon -iconset-family hp__important_facility_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M18 18a10 10 0 1 1 10 10 10 10 0 0 1-10-10zm26 16s-9.8-2-16-2-16 2-16 2c-4 1-4.3 3.4-4 6l3.4 30.5a4.3 4.3 0 0 0 1.3 2.6l1.8 1.8a4.3 4.3 0 0 1 1.3 2.7l3.6 38.4a4.4 4.4 0 0 0 4.5 4h8.2a4.4 4.4 0 0 0 4.5-4L40 77.6a4.3 4.3 0 0 1 1.3-2.7l1.9-1.8a4.3 4.3 0 0 0 1.2-2.6L48 40c.3-2.6.1-5-3.9-6zm20 23a8 8 0 1 0-8-8 8 8 0 0 0 8 8zm11.2 2.4A73.6 73.6 0 0 0 64 58a73.6 73.6 0 0 0-11.2 1.4c-2.8.7-3 2.3-2.7 4.1l2.3 21a3 3 0 0 0 1 1.9l1.2 1.2a3 3 0 0 1 1 2l2.4 27.7a3.1 3.1 0 0 0 3.1 2.7H67a3.1 3.1 0 0 0 3.1-2.8l2.5-27.7a3 3 0 0 1 1-1.9l1.2-1.2a3 3 0 0 0 .9-1.8l2.4-21c.2-1.9 0-3.5-2.8-4.2zM100 28a10 10 0 1 0-10-10 10 10 0 0 0 10 10zm16 6s-9.8-2-16-2-16 2-16 2c-4 1-4.3 3.4-4 6l3.4 30.5a4.3 4.3 0 0 0 1.3 2.6l1.8 1.8a4.3 4.3 0 0 1 1.3 2.7l3.6 38.4a4.4 4.4 0 0 0 4.5 4h8.2a4.4 4.4 0 0 0 4.4-4l3.6-38.4a4.3 4.3 0 0 1 1.3-2.7l1.8-1.8a4.3 4.3 0 0 0 1.3-2.6L120 40c.3-2.6.1-5-3.9-6z"></path></svg>
            Chambres familiales
        </div>
        <div class="
important_facility  " data-name-en="Bar">
            <svg class="bk-icon -iconset-bar hp__important_facility_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><rect x="60" y="74" width="8" height="44"></rect><rect x="60" y="94" width="8" height="40" rx="4" ry="4" transform="rotate(-90 64 114)"></rect><path d="M100 34H28a4 4 0 0 0-3.2 6.4l36 48a4 4 0 0 0 6.4 0l36-48A4 4 0 0 0 100 34zM78.7 61.7H49.3l-16-21.2h61.4z"></path><rect x="75.5" y="-1.4" width="6" height="81.9" rx="3" ry="3" transform="rotate(36.31 78.487 39.584)"></rect><circle cx="90.6" cy="21.9" r="8"></circle></svg>
            Bar
        </div>
        <div data-et-view="YWYHAbASKFPOOTXGBbLPNdKNKNKWe:1
YWYHAbASKFPOOTXGBbLPNdKNKNKWe:3
YWYHAbASKFPOOTXGBbLPNdKNKNKWe:5
"></div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3212.958174500478!2d10.530919914667377!3d36.36179198004125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd618478681537%3A0x315348312c536ba!2sIberostar%20Averroes!5e0!3m2!1sen!2stn!4v1608674086959!5m2!1sen!2stn" height="450" class="offset-3 col-9" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
{% endblock %}